<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <h1>All products</h1>
    <% @products.each do |product| %>
    <ul>
      <li>Name: <%= product.name %></li>
      <li>Style: <%= product.style %></li>
      <li>Color: <%= product.color %></li>
      <li>Description: <%= product.description %></li>     
    </ul>
    <% end %>
  </body>
</html>
